<%= render "layouts/sidebar" %>

<%= form_for(object) do |f| %>
	<%= render "shared/errors", object: @job_type %>
	<table>
		<tr>
			<th><%= f.label :description %></th>
			<td><%= f.text_field :description, autofocus: true %></td>
		</tr>
		<tr>
			<th><%= f.label :tipped %></th>
			<td><%= f.check_box :tipped %></td>
		</tr>
	</table>

	<p>
		<%= f.submit %>
		<%= link_to "Cancel", unit_job_types_path(@unit), class: 'button' %>
	</p>
<% end %>