<header>
	<h1>Sign in</h1>
</header>

<%= form_tag(session_path) do %>
	<fieldset>
		<ol>
			<li>
				<%= label_tag :email %>
				<%= email_field_tag :email, nil, autofocus: true, required: true, size: 40 %>
			</li>
			<li>
				<%= label_tag :password %>
				<%= password_field_tag :password, nil, required: true, size: 36 %>
			</li>
		</ol>
		<p>
			<%= submit_tag 'Sign In' %>
		</p>
	</fieldset>
<% end %>

