<%= render "layouts/sidebar" %>
<header>
	<h1><%= link_to "#{@employee.first_name} #{@employee.last_name}", employee_path(@employee) %>'s Jobs</h1>
</header>
<ul>
	<% @jobs.each do |job| %>
	<article>
		<table>
			<tr>
				<th><%= job.job_type.description %></th>
				<td><%= job.start_date %> - 
					<%= job.end_date %></td>
				<td><%= link_to 'Edit', edit_job_path(job), class: 'button' %></td>
				<td><%= link_to 'Delete', job_path(job), method: :delete, data: { confirm: "Are you sure you want to delete #{job.job_type.description}?" }, class: 'button' %></td>
			</tr>
		</table>		
	</article>
	<% end %>
	<%= link_to 'Add Job', new_employee_job_path(@employee), class: 'button' %>
</ul>